/* Styling the game itself */
body {
    background-color: #FFEBCD;
}
.choices {
    display: flex;
    justify-content: center;
}
.pickWeapon{
    display: flex;
    font-size: 38px;
    justify-content: center;
}
.selectionButton{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
}
.selectionButton:hover{
    transform: scale(1.2);
    transition: 100ms;
}
.footer{
    display: grid;
    font-size: 36px;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    margin-top: 16px;
}
.result-score{
    margin-left: 4px;
}
.result-selection{
    opacity: 0.5;
    font-size: 50px;
}
.result-selection.winner{
    opacity: 1;
    font-size: 60px;
}

/* Styling the game-over popup window */
.popup{
    position: fixed;
    top: 35%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 1px solid #0f5066;
    border-radius: 10px;
    z-index: 5;
    background-color: white;
    width: 450px;
}
.popup-header{
    padding: 5px 15px;
    text-align: center;
    font-size: 1.8rem;
}
.popup-body{
    text-align: center;
    padding: 10px;
}
#retryButton{
    cursor: pointer;
    font-size: 1.5rem;
}